{% extends "base.html" %}
{% block content %}
<div class="med">
	<div class="info contact cf">
		<div class="thirds">
			<div class="details t">
				<h2>Mailing Address</h2>
				<h3>Michael Chekhov Actors Studio / MCASB</h3>
				<h3>250 Main Street</h3>
				<h3>#425161</h3>
				<h3>Cambridge, MA 02142</h3>
				<a href="https://www.facebook.com/MichaelChekhovActorsStudio"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/fb_gray.png" /></a>
		 		<a href=""><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/twitter_gray.png" /></a>
				<a href="https://vimeo.com/mcasb"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/vimeo_gray.png" /></a>
				<a class="" href="mailto:training@mcasb.com"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/email_gray.png" /></a>
		
			</div>
			<div id="mc_embed_signup" class="t x">
				<form action="//michaelchekhovactorsstudioboston.us2.list-manage.com/subscribe/post?u=25d675ce885424d78b0e34fc0&amp;id=fa58151528" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
						<h2>Reach Us</h2>
						<div class="mc-field-group">
							<input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							<input type="text" placeholder="Name" value="" name="MMERGE1" class="" id="mce-MMERGE1">
						</div>
						<div class="mc-field-group">
							<textarea type="text" value="" name="MMERGE2" class="" id="mce-MMERGE2" placeholder="Comments and Questions"></textarea>
						</div>
						<div class="mc-field-group">
							<label for="mce-MMERGE3">How did you hear about us? </label>
							<select name="MMERGE3" class="" id="mce-MMERGE3">
								<option value=""></option>
								<option value="Google">Google</option>
								<option value="Stagesource">Stagesource</option>
								<option value="Word of Mouth">Word of Mouth</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				   		<div style="position: absolute; left: -5000px;"><input type="text" name="b_25d675ce885424d78b0e34fc0_fa58151528" tabindex="-1" value=""></div>
				   		<div class="never">
				   			<h6><em>We will never sell, share, or otherwise distribute your e-mail address to anyone else.</em></h6>
				   		</div>
				    	<div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
			</div>
			<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='text';fnames[2]='MMERGE2';ftypes[2]='text';fnames[3]='MMERGE3';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
		</div>
	</div>
</div>
{% endblock %}