{% extends "base.html" %}
{% block content %}
		{% include "pages/navigation/_studio.html"  with a='library'%}
		<div class="med">
			<div class="studio info article">
				{{slug}}
				<div class="wrap">
					<h2>{{article.title | safe }}</h2>
					<h3>{{article.author | safe }}</h3>
					{{article.body | safe }}	
				</div>
			</div>
		</div>
{% endblock %}