{% extends "base.html" %}
{% block content %}
		{% include "pages/navigation/_studio.html"  with a='chekhov'%}	
		<div class="med">
			<div class="studio info chekhov">
				<div class="wrap">
					{{page.content | safe}}
				</div>
				<div class="video">
					<iframe frameborder="0" height="500" src="https://www.youtube.com/embed/0N6TIspOXGc" width="100%"></iframe>
				</div>
			</div>
		</div>
{% endblock %}