{% extends "base.html" %}
{% block content %}
		{% include "pages/navigation/_studio.html"  with a='meisner' %}	
		<div class="med">
			<div class="studio info meisner">
			<div class="wrap">
				{{page.content | safe }}
			</div>
			<div class="video">
				<iframe width="100%" height="500" src="https://www.youtube.com/embed/jP1Nkr1kc5o" frameborder="0" allowfullscreen></iframe>
			</div>
			</div>
		</div>
{% endblock %}