{% extends "base.html" %}
{% block content %}
	{% include "pages/navigation/_studio.html"  with a='library'%}	
	<div class="articles cf">
		<div class="med">
			<div class="halfs">
				{% for a in article %}
				    <a href="{{a.get_absolute_url}}" class="h article">
				    	<div class="text">
				    		<h3>{{a.title}} </h3>
				    		<p>{{a.short_desc | safe }}</p>
				    		<h4>{{a.author}}</h4>
				    	</div>
				    </a>
				{% endfor %}
			   
			</div>
		</div>
	</div>
{% endblock %}