{% extends "base.html" %}
{% block content %}
	{% include "pages/navigation/_studio.html"  with a='faculty' %}	
	<div class="med">
		{% for f in faculty %}
			<div class="faculty cf">
				<div class="image">
					<img src="{{f.image | safe}}" />
				</div>
				<div class="details">
					<h2>{{f.name | safe}}</h2>
					<h3>{{f.title| safe}}</h3>
					<p>{{f.body | safe}}</p>
				</div>
				<div class="bio">
					
				</div>
			</div>
		{% endfor %}
	</div>
{% endblock %}