{% extends "base.html" %}
{% block content %}
		{% include "pages/navigation/_studio.html"  with a='location' %}	
		<div class="location">
			<div class="med cf">
				<iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=Tremont%20Street%2C%20Boston%2C%20MA%20%26%20School%20STreet&key=AIzaSyDeFKG8LgOurFN-uDtM2mcRe79dSeshdp4" allowfullscreen></iframe>
				<div class="mini_map">
					<img id="mbta" src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/mbta_star.jpg" width="100%" />
					<h6>click to enlarge</h6>
				</div>
				<div class="info mbta cf">
					<div class="directions">
						{{page.content | safe}}
					</div>
				</div>
				<div id="map_large">
					<img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/mbta_star.jpg" width="100%" />
				</div>
				<div class="full_overlay"></div>
			</div>
		</div>
		<script>
			!function a(){var a=document.getElementById("mbta"),b=document.getElementById("map_large"),c=document.getElementsByClassName("full_overlay")[0];a.addEventListener("click",function(){b.style.display="block",c.style.display="block"}),c.addEventListener("click",function(){b.style.display="none",c.style.display="none"})}();
		</script>
{% endblock %}