{% extends "base.html" %}
{% block content %}
	{% include "pages/navigation/_studio.html"  with a='about'%}	
	<div class="med">
		<div class="studio info mani">
			<div class="wrap">
				{{page.content | safe }}	
			</div>
		</div>
	</div>
{% endblock %}