{% extends "base.html" %}
{% block content %}
	{% include "pages/navigation/_studio.html" with a='testimonial' %}	
	<div class="med">
		<div class="testimonials info main cf">

			{% for a in alumni %}
				<div class="testi cf">
					<div class="image">
						<img class="headshot" src="{{a.image}}" />
					</div>
					<div class="details">
						<h2>{{a.name}}</h2>
						<h3>{{a.title}}</h3>
						<p>{{a.testimonial}}</p>
					</div>
				</div>
				
			{% endfor %}
		</div>
	</div>
{% endblock %}

