{% extends "base.html" %}
{% block content%}
<div class="med">
	<div class="blog cf">
		<div class="buy">
			 <div class="box">
			 	<div class="social cf">
			 		<a href="https://www.facebook.com/MichaelChekhovActorsStudio"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/FB-f-Logo__blue_144.png" /></a>
			 		<a href=""><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/TwitterLogo_blue.jpg" /></a>
			 		<a href="https://www.youtube.com/channel/UCkUcM1mP7_SO7PieG77DucA"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/logotype46.png" /></a>
					<a href="https://vimeo.com/mcasb"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/vimeo_icon_white_on_blue.png" /></a>
					<a class="email" href="mailto:training@mcasb.com"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/email74.png" /></a>
					<a href="/rss"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/256px-Feed-icon.svg.png" alt="RSS Fees" /></a>
					
			 	</div>
			

			 </div>
			 <div class="box">
				<div id="mc_embed_signup">
					<form action="//michaelchekhovactorsstudioboston.us2.list-manage.com/subscribe/post?u=25d675ce885424d78b0e34fc0&amp;id=fa58151528" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					    <div id="mc_embed_signup_scroll">
						<h2>Receive our Newsletter</h2>
					
						<div class="mc-field-group">
							
							<input type="email" value="" name="EMAIL" placeholder="Email Address" class="required email" id="mce-EMAIL">
						</div>
						<div class="mc-field-group">
							
							<input type="text" placeholder="Name" value="" name="MMERGE1" class="" id="mce-MMERGE1">
						</div>
						<div class="mc-field-group">
							<label for="mce-MMERGE3">How did you hear about us? </label>
							<select name="MMERGE3" class="" id="mce-MMERGE3">
							<option value=""></option>
								<option value="Google">Google</option>
								<option value="Stagesource">Stagesource</option>
								<option value="Word of Mouth">Word of Mouth</option>
								<option value="Other">Other</option>
							</select>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
					    <div style="position: absolute; left: -5000px;"><input type="text" name="b_25d675ce885424d78b0e34fc0_fa58151528" tabindex="-1" value=""></div>
					    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
					    </div>
					</form>
				</div>
			 </div>
			 {% for b in billboard %}
				 {% if b.text and b.image %}
				 	<div class="box billboard">
						{{b.text | safe }}
						<img src="{{b.image }}" />
					</div>
				{% elif b.text %}
					<div class="box billboard">
						{{b.text | safe }}		
					</div>
				{% elif b.image %}
					<div class="box billboard">
						<img src="{{b.image}}" />
					</div>
				{% endif %}
			{% endfor %}
		</div>
		<div class="posts">
			<a href="{{post.link}}" class="p">
				{% if post.main_image %}
					<img src="{{post.main_image}}" width="100%" />
				{% endif %}
				<div class="text">
					<h2>{{post.title | safe}}</h2>
					<h4>{{post.date | date:"M d Y"}}</h4>
					<p>{{post.body | safe}}</p>
				</div>
				<div class="share">
					<div class="fb-share-button" data-href="{{p.get_absolute_url}}" data-layout="button_count"></div>
					<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://127.0.0.1:8000/{{p.get_absolute_url}}" data-text="{{p.title}}"></a>
          		</div>
				<div class="overlay"></div>
			</a>
			
		</div>
	</div>
</div>
{% endblock %}
