<nav>
	{% if request.path == '/' %} 
		<ul>
			<li><a href="/" class="a">Home</a></li>
			<li><a href="/studio/about" class="a">Studio</a></li>
			<li><a href="/training/programs" class="a">Training</a></li>
			<li><a href="/gallery" class="a">Gallery</a></li>
			<li><a href="/blog" class="a">Blog</a></li>
			<li><a href="/contact" class="a">Contact</a></li>
		</ul>
		<div class="bars o">
			<hr />
			<hr />
			<hr />
		</div>
	{% else %}
		<ul>
			<li><a href="/" class="{% if request.path == '/' %} a {% endif %}">Home</a></li>
			<li><a href="/studio/about" class="{% if '/studio/' in request.path %} a {% endif %}">Studio</a></li>
			<li><a href="/training/programs" class="{% if '/training/' in request.path %} a {% endif %}">Training</a></li>
			<li><a href="/gallery" class="{% if '/gallery/' in request.path  %} a {% endif %}">Gallery</a></li>
			<li><a href="/blog" class="{% if '/blog/' in request.path %} a {% endif %}">Blog</a></li>
			<li><a href="/contact" class="{% if '/contact/' in request.path %} a {% endif %}">Contact</a></li>
		</ul>
		<div class="bars">
			<hr />
			<hr />
			<hr />
		</div>
	{% endif %}
</nav>