{% extends "base.html" %}
{% block content %}
	{% include "pages/navigation/_training.html" %}	
	<div class="med">
		<div class="training info admission">
		<div class="wrap">
			{{page.content | safe }}
			<a class="apply" href="mailto:info@mcasb.com" target="_blank">Apply</a>
		</div>
		</div>
	</div>
{% endblock %}