{% extends "base.html" %}
{% block content %}
	{% include "pages/navigation/_training.html" %}	
	<div class="med">
		<div class="training info cal-desc">
			<div class="wrap">
				{{page.content | safe}}
			</div>
		</div>
	</div>
	<div class="med">
		<div class="training info calendar">
			<iframe src="https://www.google.com/calendar/embed?src=mcasboston%40gmail.com&ctz=America/New_York" style="border: 0" width="100%" height="700" frameborder="0" scrolling="no"></iframe>
		</div>
	</div>

{% endblock %}