{% extends "base.html" %}
{% block content %}
	{% include "pages/navigation/_training.html" %}	
	<div class="med">
		{% for c in classes %}
			<div class="info curriculum classes">
				<div class="wrap {% if c.image_left == True %} left {% endif %} cf">
					<h2>{{c.title | safe }}</h2>
					<div class="image"> 
						<img src="{{c.image}}" />	
					</div>
					<div class="text">
						{{c.body | safe}}
					</div>	
					{% if c.more == True %}
						<div class="more button">Learn More</div>
						<div class="more cur">
							<div class="wrap">
								{{c.more_text | safe }}
								<a href="" class="apply">Apply</a>
							</div>
						</div>
					{% endif %}
				</div>
			</div>	
		{% endfor %}
	</div>
{% endblock %}