{% extends "base.html" %}
{% block content %}
		{% include "pages/navigation/_training.html" %}	
		<div class="med cf">
		{% for p in programs %}
				<div class="info curriculum">
					<div class="wrap {% if p.image_left == True %} left {% endif %} cf">
						<h2>{{p.title | safe }}</h2>
						<div class="image"> 
							<img src="{{p.image}}" />	
						</div>
						<div class="text">
							{{p.body | safe}}
						</div>	
						{% if p.more == True %}
							<div class="more button">Learn More</div>
							<div class="color_wrap med">
								<div class="more cur">
									<div class="wrap">
										{{p.more_text | safe }}
										<a href="/training/admission/" class="apply">Apply</a>
									</div>
								</div>
							</div>
						{% endif %}
					</div>
				</div>
	
		{% endfor %}
		</div>
		<script>
			!function(){var a=document.getElementsByClassName("more button"),b=document.getElementsByClassName("more cur"),c=-1,d=!0;!function e(a,b,c){c++<a.length-1&&(b[c].addEventListener("click",function(){d?(a[c].style.height=a[c].children[0].offsetHeight+"px",d=!1,this.innerHTML="Show Less"):(a[c].style.height=0,d=!0,this.innerHTML="Learn More")}),e(a,b,c))}(b,a,c)}();
		</script>
{% endblock %}
















