<div class="med">
	<ul class="subnav">
		<li><a href="/studio/about" class="{% if a == 'about' %} a {% endif %}">About</a></li>
		<li><a href="/studio/faculty" class="{% if a == 'faculty' %} a {% endif %}">Faculty</a></li>
		<li><a href="/studio/chekhov" class="{% if a == 'chekhov' %} a {% endif %}">Chekhov</a></li>
		<li><a href="/studio/meisner" class="{% if a == 'meisner' %} a {% endif %}">Meisner</a></li>
		<li><a href="/studio/library" class="{% if a == 'library' %} a {% endif %}">Library</a></li>
		<li><a href="/studio/location" class="{% if a == 'location' %} a {% endif %}">Location</a></li>
		<li><a href="/studio/testimonials" class="{% if a == 'testimonial' %} a {% endif %}">Testimonials</a></li>
	</ul>
</div>
