<div class="med">
	<ul class="subnav">
		<li><a href="/training/programs"  class="{% if '/programs/' in request.path %} a {% endif %}">Programs</a></li>
		<li><a href="/training/classes"  class="{% if '/classes/' in request.path %} a {% endif %}">Classes</a></li>
		<li><a href="/training/calendar"  class="{% if '/calendar/' in request.path %} a {% endif %}">Calendar</a></li>
		<li><a href="/training/admission"  class="{% if '/admission/' in request.path %} a {% endif %}">Admission</a></li>
	</ul>
</div>