<!DOCTYPE html>
<html>
  <head>
  	{% include "header.html" %}
  </head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	<script type="text/javascript">

	</script>

	{% if request.get_full_path = "/" %}
	<header class="home">
		<div class="wrap home cf">
		{% else %}
	<header>
		<div class="wrap cf">
			<a href="/"><img src="{{header_logo.all.0.logo}}" /></a>
		
		{% endif %}
		
		{% include "nav/nav.html" %}	
	</div>
</header>
 <div class="content">
  {% block content %}
  {% endblock %}
</div>

<div id="footer" class="cf">
{% block footer %}
	{% include "footer.html" %}
{% endblock %}
</div>
