<div class="wrap">
	<div id="mc_embed_signup">
		<form action="//michaelchekhovactorsstudioboston.us2.list-manage.com/subscribe/post?u=25d675ce885424d78b0e34fc0&amp;id=fa58151528" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
		    <div id="mc_embed_signup_scroll">
		<div class="mc-field-group">
			<input type="text" value="" name="MMERGE1" class="" id="mce-MMERGE1" placeholder="Name">
		</div>
		<div class="mc-field-group">
			<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address">
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
		    <div style="position: absolute; left: -5000px;"><input type="text" name="b_25d675ce885424d78b0e34fc0_fa58151528" tabindex="-1" value=""></div>
		    <div class="clear"><input type="submit" value="Subscribe to our Newsletter" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
		    </div>
		</form>
	</div>
	<div class="missions">
			<a href="https://www.facebook.com/MichaelChekhovActorsStudio"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/FB-f-Logo__white_144.png" /></a>
			<a href=""><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/TwitterLogo_trans.png" /></a>
			<a href="https://www.youtube.com/channel/UCkUcM1mP7_SO7PieG77DucA"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/logotype46+(1).png" /></a>
			<a href="https://vimeo.com/mcasb"><img src="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/vimeo_trans.png" /></a>
			
			
		<div class="text">
			<p>	{{footer_text.all.0.mission}}</p>
		</div>
	</div>
	<div class="info">
		<ul>
			<li>Michael Chekhov Actors Studio Boston</li>
			<li>310 614 2468</li>
			<li><a href="mailto:info@mcasb.com">info@mcasb.com</a></li>
			<li>website by <a href="http://luci.nyc">luci</a></li>
		</ul>
	</div>	
	<style>
		#footer #mc_embed_signup { margin: 0; float: left;  width: 27.75%; padding-right: 3%!important; }
		#footer #mc_embed_signup input[type=submit] { background: #9A9A9A!important;  }
		#mc_embed_signup .mc-field-group { padding-bottom: 0%;  min-height: 38px;}
		#mc_embed_signup form { padding: 0; }
		#footer #mc_embed_signup{ display: inline-block; clear:left;  font:14px Helvetica,Arial,sans-serif; }
		#mc_embed_signup {  margin-top: 10px; }
		#mc_embed_signup label { font-family: 'Open Sans Condensed'; text-transform: uppercase; }
		#mc_embed_signup input { font-family: 'Open Sans Condensed';  text-transform: uppercase; border-radius: 0; background: #fff; cursor: text; }
		#mc_embed_signup .button { width: 96%; }
		#mc_embed_signup label { color: #989898; }
		@media screen and (max-width: 640px) { 
			#footer .wrap .missions, #footer #mc_embed_signup, #footer .wrap > div { margin: 10px 0!important; width: 100%; }
			#footer #mc_embed_signup { width: 100%; padding: 0!important; }
			#mc_embed_signup .mc-field-group { width: 100%; }
			#mc_embed_signup .button { width: 100%; }
		}
	</style>	
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='text';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
</body>
</html>