{% load staticfiles %}
<title>Michael Chekhov- Actors Studio Boston</title>
<link href='http://fonts.googleapis.com/css?family=Abel|Lora|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="{% static "c/mode.css" %}">


<link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Oswald:400,700' rel='stylesheet' type='text/css'>
<link rel="shortcut icon" type="image/png" href="{% static "i/favicon.ico" %}"/>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta charset="UTF-8">
<meta name="description" content="Michael Chekhov Actors Studio Boston is dedicated to freeing the actor’s talent and highest potential. We empower our 	students to fire their professional development and personal growth. We welcome your interest in our training programs, workshops, vision and community." />
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/mcasb_logo.png">
<meta property="og:url" content="http://www.mcasb.com/{{ request.path }}" />
<meta property="og:type" content="Website" />
<meta property="og:title" content="Michael Chekhov Actors Studio Boston" />
<meta property="og:description" content="Michael Chekhov Actors Studio Boston is dedicated to freeing the actor’s talent and highest potential. We empower our 	students to fire their professional development and personal growth. We welcome your interest in our training programs, workshops, vision and community." />
<meta property="og:image" content="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/mcasb_logo.png" />

<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@mcasb" />
<meta name="twitter:title" content="Michael Chekhov Actors Studio Boston" />
<meta name="twitter:description" content="Michael Chekhov Actors Studio Boston is dedicated to freeing the actor’s talent and highest potential. We empower our 	students to fire their professional development and personal growth. We welcome your interest in our training programs, workshops, vision and community." />
<meta name="twitter:image" content="https://s3-us-west-2.amazonaws.com/mcasb/uploads/imgs/mcasb_logo.png" />


<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static "j/luci.js" %}"></script>


