body { margin: 0; font-size: 1em;  font-family: 'Open Sans Condensed', sans-serif;  background: #fff; overflow-x: hidden; }
header { position: relative; width: 100%; top: 0; left: 0; z-index: 8;  }
header.home { position: fixed; background: rgba(0,0,0,.8); padding-bottom: 5px; }
header .wrap {  position: relative; margin: 40px auto;  padding: 10px 0;  width: 90%; max-width: 1280px; border-bottom: 1px solid #91908F;  margin-bottom: 0; }
header .wrap.home { border: none; }
header .wrap.home ul li a { color: #fff; }
header .name { float: left; }
header .wrap { margin: 0 auto; padding-top: 20px; max-width: 1280px; }
header .wrap img {  position: relative; width: 55px; margin-bottom: 10px; float: left; margin-right: 10px; top: 12px; }
header h1 {  margin: 0;float: left;     text-transform: uppercase; font-size: 1.775em; margin-top: 13px; font-family: 'Open Sans Condensed'}
header h1 a, header h2 a { color: #000; text-decoration: none;  }
header h2 a { color: #A3A3A3; }
header h1 a:hover, header h2 a:hover  { text-decoration: none; }
header h2 { clear: both; float: left; margin: 0; margin-top: -10px; font-weight: 400; letter-spacing: .125em; text-transform: uppercase; font-size: 1.05em;  font-family: 'Open Sans Condensed' } 
header h3 { clear: both; float: left; font-weight: 400; margin: 0; }
h1, h2 { font-family: 'Oswald', sans-serif; font-weight: 700; }
nav { position: relative;  } 
nav ul { padding: 0; position: relative; margin: 0;   margin-top: 40px; float: right; list-style-type: none; overflow: hidden; 
z-index: 999; }
nav ul li { display: inline-block; /*border-bottom: 1px solid rgba(240, 137, 70, 1); */text-transform: uppercase;   font-size: .9em;}
nav ul li { border-radius: 0px; margin-left: 3px; letter-spacing: .1em;  }

nav ul li a { display: block; padding: 5px 15px; text-decoration: none; color: #000;  opacity: .3; }
nav ul li a.a { opacity: 1; }
nav ul li a:hover { opacity: 1; text-decoration: none; }

h1 span { font-family: 'Open Sans Condensed', sans-serif; font-size: .95em; text-transform: uppercase; }
textarea { font-family: 'Open Sans Condensed', sans-serif; text-transform: uppercase; font-size: .7em; padding: 10px; box-sizing: border-box; }
input { padding: 5px 10px; font-family: 'Open Sans Condensed', sans-serif; font-size: .7em; background: none; border: 1px solid #000; border-radius: 5px; cursor: pointer; transition: all 500ms;}
input:hover { background: #000; color: #fff; }

a { color: #EA2727; text-decoration: none; }
a:hover { text-decoration: underline; }
p { font-size: 1.25em; line-height: 1.75em; }
.med { margin: 0 auto; max-width: 1280px; width: 90%; }
.sml { margin: 0 auto; max-width: 640px; }

a.btn {   
	border: 1px solid #000;
	padding: 10px 20px;
	margin: 10px 0;
	display: inline-block;
	color: #000;
	text-decoration: none;
	border-radius: 5px;
	font-family: 'Open Sans Condensed'; 
	cursor: pointer;
}
a.btn:hover { color: #fff; background: #000; cursor: pointer; }
ul.subnav { margin: 0; text-align: right; margin: 2.5em 0 3em 0; padding: 0; list-style-type: none; margin: 0; }
ul.subnav li {  display: inline-block;  letter-spacing: .1em; }
ul.subnav li a {   
	display: block;
	padding: 10px 15px 10px 15px;
	color: #4D4D57;
	border-radius: 5px;
	
	text-decoration: none; 
	opacity: .3;
}
ul.subnav li a.a { opacity: 1;  }

ul.subnav li a:hover { opacity: 1; }

ul.subnav .chekhov li  { width: 100%; text-transform: lowercase; font-size: .}



/*location*/
.location { margin-top: 2em; }
#map_large { 
	position: fixed;
	height: 500px; 
	width: 500px;  
	top: 50%;
	left: 50%;
	margin-top: -250px;
	margin-left: -250px;
	background: #fff;
	z-index: 20;
	display: none;

}
#map_large img { box-shadow: 0px 10px 40px 0px #333; }
.full_overlay { 
	position: fixed; 
	top: 0;
	left: 0;
	height: 100%; 
	width: 100%; 
	background: rgba(0, 0, 0, 0.52); 
	z-index: 10;
	display: none;
}

.info.mbta h6 { margin: 0; text-align: center; }
.info.mbta .mini_map { float: left; width: 18%; margin-right: 5%;  }
.info.mbta .directions { float: left; width: 100%;  }
.info.mbta .mini_map h3 { margin-bottom: .5em; }

.axb { background: #F4F4F4; }

/*SPLASH*/

.testimonial_scroll { margin-top: 0em; width: 100%; background: #FFF; color: #000; height: 300px; display: block; text-decoration: none; }
.testimonial_scroll .testimonial { box-sizing: border-box; padding: 2em 0;  }
.testimonial_scroll .testimonial .img { width: 15%; display: inline-block; float: left; padding-bottom: 2em; margin-right: 5%; }
.testimonial_scroll .testimonial .text h3 {  margin: 10px 0; font-size: 1em; }
.testimonial_scroll .testimonial .text { width: 80%; float: left;  }
.testimonial_scroll .testimonial .text p { margin: 0; }

.testimonial_scroll:hover { text-decoration: none; }
.testimonial_scroll .testimonial { transition: all 1000ms; }
.testimonial_scroll, .sliding-newsletter { transition: all 500ms; }

.testimonial_scroll .med { width: 95%; }
.sliding-newsletter {     

    padding: 20px;
    box-sizing: border-box;
    width: 350px;
    background: #f1f1f1;;
    position: absolute;
    bottom: -60px;
    right: -400px;
    box-shadow: 5px 7px 40px 0px #A2A2A2;
    z-index: 999;
}
.sliding-newsletter .close-snl { position: absolute; top: 5px; right: 15px; cursor: pointer; }
.sliding-newsletter #mc_embed_signup label { color: #000!important; }
.sliding-newsletter #mc_embed_signup .button { background: #000!important; }
.sliding-newsletter #mc_embed_signup h2 { margin-top: 0; }
.sliding-newsletter #mc_embed_signup .mc-field-group select { width: 101%; margin-bottom: 1em; }

.splash .video { background: #000; padding: 50px 0; box-sizing: border-box; }
.splash .video iframe { height: 450px; }

.slideshow { position: relative; margin: 0 auto; height: 900px; width: 100%; background: rgba(0, 0, 0, 0.25); overflow: hidden; }
.slideshow .s img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
}
.slideshow .s {
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  overflow: hidden;
}
.slideshow .text {   
	color: #fff;
	z-index: 4;
	font-family: 'Open Sans Condensed';
	position: absolute; 
}
.slideshow .text h1 { 
	margin: 0;
	font-family: 'Open Sans Condensed';
	text-transform: uppercase;	
	font-size: 4em;
}
.slideshow .text h2 { 
	font-size: 3.10em;
	margin-top: -15px;
  	color: #A3A3A3;
  	margin-bottom: 0;
  	font-family: 'Open Sans Condensed';
}
.slideshow .text h3 { 
    margin: 0;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: .15em;
    color: #A3A3A3;
}
.slideshow .text h4 { 
    text-align: center;
    letter-spacing: .1em;
    margin-top: .5em;
}

.mission.ex { 
	position: relative;
	margin: 0 auto; 
	font-weight: 300; 
	width: 100%; 
	padding: 50px 100px; 
/*	word-spacing: .125em;*/
	background: #FFF;
	overflow: hidden;
	box-sizing: border-box;
}
.mission .arw { width: 0;
height: 0;
border-style: solid;
border-width: 10px 10px 0 10px;
margin: 3px auto;
border-color: #2e2e2e transparent transparent transparent; }



/*billboard*/

.billboard { padding: 0px; box-sizing: border-box; }
.billboard .text { padding: 0 10px; } 
.billboard img { width: 100%; }



/*admission*/

a.apply { width: 20%; margin: 0 auto; border-radius: 5px; text-align: center; margin-top: 40px;  }
a.apply { 
	display: block;
	margin-top: 20px;
	color: #000; 
	text-decoration: none; 
	font-family: 'Open Sans Condensed', sans-serif; 
	border: 1px solid #000;
	padding: 10px 20px;
}
a.apply:hover { color: #fff; background: #000; }


.mission.ex p { line-height: 2em; font-size: 1.25em; }
.mission.ex a { width: 20%; margin: 0 auto; border-radius: 5px; text-align: center; margin-top: 40px;  }
.mission a { 
	display: block;
	margin-top: 20px;
	color: #000; 
	text-decoration: none; 
	font-family: 'Open Sans Condensed', sans-serif; 
	border: 1px solid #000;
	padding: 10px 20px;
}
.mission a:hover { color: #fff; background: #000; }


.mission .overlay {     
	background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, #ffffff), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(rgba(255,255,255,0),#ffffff,#ffffff);
    background: -moz-linear-gradient(rgba(255,255,255,0),#ffffff,#ffffff);
    background: -o-linear-gradient(rgba(255,255,255,0),#ffffff,#ffffff);
    background: linear-gradient(rgba(255,255,255,0),#ffffff,#ffffff);
        
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 110px;
    pointer-events: none; cursor: pointer; }

.mission .overlay .more { padding-top: 52px; text-align: center; cursor: pointer; }
.mission .overlay .more h5 { margin-bottom: 0; z-index: 10; cursor: pointer; }

.mission, .mission .overlay { transition: all 750ms; }

.never h6 { margin: 0 0 10px 0; font-size: .8em; color: #989898; }

.featured > div { float: left; width: 30%; height: 400px; border: 2px solid #cdc; overflow: hidden;  box-sizing: border-box; margin-right: 5%; margin-bottom: 5%;  }
.featured > div:nth-child(3n) { margin-right: 0; }
.featured div.txt { padding: 40px;
  box-sizing: border-box;
  font-size: 1.2em;
 
  line-height: 1.5em; }
.featured div.txt h3 { font-family: 'Open Sans Condensed'; }

.featured div.ano { padding: 40px; box-sizing: border-box; }
.featured div.ano h2 { background: none; color: #000; font-size: 1.75em; }

.thirds .t { float: left; width: 32%; margin-right: 2%; margin-bottom: 2%;  }
.thirds .t.x { width: 50%; float: right; }
.thirds .t:nth-child(3n) { margin-right: 0; }
.thirds .t img { margin: 0; vertical-align: top; }
/*.thirds .t h3 {   text-align: center; border: 1px solid #999; padding: 15px 0; margin: 0; }
*/.thirds a { text-decoration: none; color: #000; }

.content { position: relative; width: 100%; max-width: 1920px; min-width: 320px; margin: 0 auto; margin-bottom: .5em }
.content .info {     
	background-color: #fff;
    margin-top: 2em;
    padding: 1.5em;
    width: 74.174%;
    
    margin: 0 auto;
    box-sizing: border-box; 
}
.content .info.contact { height: 700px; }
.content .info.admission { margin-bottom: 50px; }
.content .info .wrap { width: 50%; margin: 0 auto; }

.content .studio.info { width: 100%; padding: 1.5em 0; }
.content .studio.info hr { width: 80%; margin: 4em auto; }
.content .studio.info p { font-weight: 300;   line-height: 1.75em; margin: 0 0 20px 0; text-align: justify;  }

.content .studio.info article.one { width: 95%; margin-left: 2.5%; }
.content .studio.info article {   width: 70%; margin-left: 15%; }

.content .studio.info aside { float: left; margin-right: 20px; margin-left: 10%; }
.content .studio.info aside img { width: 100%; }

.content .studio.info.scott p:first-line { font-size: 1.35em; color: #4A4A4A; }

.content .studio.info.manifesto {}

.content .studio.info .video { margin: 0 auto; width: 1000px; }


/*gallery*/

.friends .height_wrap {  background-color: #EAF1EE; box-sizing: border-box;  padding: 20px 0; }


/*blog*/

.content .blog {    margin: 0 auto; margin-top: 2.2em;   }
.content .blog.feat { margin: 0;  background-color: #FFF; }
.content .blog.feat .med .thirds { margin: 0; padding-top: 3em; }
.content .blog.feat .blog { }
.content .blog.feat h2, .content .blog.feat h3, .content .blog.feat h4 { margin: 0; }


.blog .thirds { margin-top: 20px; }
.blog .thirds .t {  position: relative; display: block; height: 500px; box-sizing: border-box; border: 1px solid #000; overflow: hidden; }
.blog .thirds .t .image { display: block; max-height: 50%; overflow: hidden;}
.blog .thirds .t .text { width: 90%; margin: 0 auto; margin-top: 10px; }
.blog .thirds .t .text h2 { font-size: 1.25em; letter-spacing: .05em; }
.blog .thirds .t .text h2:hover { text-decoration: underline; }
.blog .thirds .t .text h4 { margin: 1em 0; text-transform: uppercase; text-decoration: underline; }
.blog .thirds .t .text h5 { margin: 0; font-size: 1em; color: #676565; }
.blog .thirds .t .tag { 
	position: absolute;
    top: 10px;
    right: 0;
    padding: 5px 40px;
    color: #fff;
    background: #800707;
    box-shadow: 5px 1px 0px 1px #D6BABA;

}
.blog .thirds .t .tag.arw { 
	bottom: 0;
	top: 458px;
    right: 0;
    z-index: 9999;
    color: #000;
    font-size: 1.5em;
    background: none;
    box-shadow: none;
}

.blog .thirds .overlay {     
background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(255,255,255,0)), color-stop(50%, #FFFFFF), color-stop(100%, #FFFFFF));
background: -webkit-linear-gradient(rgba(255,255,255,0),#FFFFFF,#FFFFFF);
background: -moz-linear-gradient(rgba(255,255,255,0),#FFFFFF,#FFFFFF);
background: -o-linear-gradient(rgba(255,255,255,0),#FFFFFF,#FFFFFF);
background: linear-gradient(rgba(255,255,255,0),#FFFFFF,#FFFFFF);
    
position: absolute;
bottom: 0;
left: 0;

z-index: 100;
width: 100%;
height: 50px;
pointer-events: none;
cursor: pointer;
}

.blog .buy { position: relative; width: 30%; float: left; }
.blog .posts { box-sizing: border-box; padding: 0 10% 0% 10%; width: 62.5%; float: right; }
.blog .posts a.p { display: block; text-decoration: none; color: #000; }
.blog .posts .p { margin-bottom: 5em; }
.blog .posts .p h2 { font-size: 1.75em; margin-bottom: 0; margin-top: .25em; }
.blog .posts .p h4 { margin: .5em 0; }
.blog .posts .p:not(:first-child) { margin-top: 5em; }
.blog .buy .box { position: relative;  max-width: 350px; width: 100%;  margin: 0 auto;  margin-bottom: .75em; 
    box-sizing: border-box; }
.blog .buy .box.billboard { padding: 0; }
.blog .buy .box img { width: 100%; }
.blog .buy .box .apply { position: relative; margin: 0 auto; margin-top: 10px; padding: 10px 44px; }
.blog hr { width: 40%; margin: 0 auto; }
.blog .buy .box #mc_embed_signup .mc-field-group select { margin-bottom: 15px; }
.blog .buy .box #mc_embed_signup .mc-field-group { width: 100%; }
.blog .buy .box #mc_embed_signup .button { width: 101%; }
.blog .buy .box #mc_embed_signup select { width: 101%; }

.buy .box { position: relative; }
.buy .box .social { margin: 0 auto; width: 320px; }
.buy .box .social .email img { }
.buy .box .social img { width: 50px; }
.buy .box .email a { font-weight: 700; font-size: 1.25em; text-align: center; margin-bottom: 1em; display: block;  }

.share .p { margin-bottom: 0; }
.blog .posts .share a.p  { margin-bottom: 0em; }
.blog .posts .share { margin-bottom: 5em; }
.fb_iframe_widget { float: left; margin-right: 15px; margin-top: -1px; }

/*accordian*/
.accordian {   margin-top: 2.2em; position: relative; width: 100%;  padding-bottom: 2%; height: auto; }
.accordian .videos { height: 200px; }
.accordian .photos { height: 200px; }
.accordian .photos .full { width: 100%; height: 800px; }
.accordian .alumni { height: 200px; }
.accordian .friends { height: 200px; }
.accordian > div { position: relative; margin-bottom: 2%; overflow: hidden; box-sizing: border-box;}
.accordian > div .overlay {   
	background: #000000;
	opacity: 0.8;
	position: absolute;
	width: 100%;
	min-height: 200px;
	height: 100%;
	z-index: 3; 
	cursor: pointer;
	top: 0;
}
.accordian > div .overlay:hover { opacity: .2; }
.accordian > div .overlay:hover { opacity: 0; }
.accordian *  { transition: all 500ms;}

.height_wrap { position: relative; }

/*videos*/
.videos .thirds div { min-height: 300px; z-index: 500; }
.videos .thirds div label { display: block; padding: 5px 0; }
.videos .t h2 { margin: 0; font-size: 1.2em; }

#friends a {     
	color: #000;
    float: left;
    margin-left: 60px;
    width: 100%;
    margin-bottom: 10px;
    display: block; 
}


#photos .arrows { position: absolute; top: 50%; margin-top: -50px; width: 100%; height: 100px;  }
#photos .arrows .arrow { 
	height: 50%;
    width: 50px;
    opacity: .65;
    cursor: pointer;
}
#photos .height_wrap { background: #000; }
#photos .arrows .arrow:hover { opacity: 1; }
#photos .arrows .left {  
	float: left; 
	margin-left: 5%;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 30px 25px 0;
	border-color: transparent rgba(255, 255, 255, 0.67) transparent transparent;
}
#photos .arrows .right { 
	float: right; 
	margin-right: 5%; 
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 25px 0 25px 30px;
	border-color: transparent transparent transparent rgba(255, 255, 255, 0.67);
}

#photos .ss { height: 100%; }
#photos .ss .s { }


#photos .ss { position: relative; margin: 0 auto; width: 100%; overflow: hidden; }
#photos .ss .s  img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
  overflow-x: hidden;
}
#photos .ss .s {
display: none;
opacity: 0;
position: absolute;
top: -50%;
left: -50%;
width: 200%;
height: 200%;
overflow: hidden;
}

#photos .ss * { transition: all 500ms; }


/*faculty*/

.faculty { margin-top: 2em; padding: 3em 0; width: 73.4%; margin: 0 auto; box-sizing: border-box;  }
.faculty:nth-child(odd) { }
.faculty .image { width: 24%; float: left; }
.faculty .image img { width: 100%; }
.faculty .details { float: right; width: 68.121%; }
.faculty .details h2 { text-transform: uppercase; letter-spacing: .075em; margin: 0; }
.faculty .details h3 { margin: 0;  font-family: "Oswald",sans-serif; color: #878787; font-weight: 400; }
.faculty .details a { }
.faculty .bio { }
.faculty .bio p { }



/*training*/

.content .training.glance { float: left; width: 40%; margin: 0 2.5% 0 7%; min-height: 550px; margin-top: 0em; padding: 2.5em 5em 2em; box-sizing: border-box; }
.content .training.glance:nth-child(even) {  margin: 0 7.5% 0 2.5%;  margin-top: 0em; }
.content .training.glance p { color: #000; font-size: 1.125em; font-family: 'Open Sans Condensed'}

.content .training.glance h3 { margin: 0; text-align: center; font-size: 1.5em; padding-bottom: 10px; }

.content .training.glance.chek { border: 1px solid #9D0000;   }
.content .training.glance.meis { border: 1px solid rgba(4, 0, 63, 0.75); }

.content .training.info {  margin-top: 2.5em; padding: 0; width: 100%; box-sizing: border-box; }
.content .training.info.menu  { padding: 0; background: none; }
.content .training.info .chekhov { }
.content .training.info .chekhov ul { padding: 0; list-style-type: none; }
.content .training.info .chekhov ul li { display: inline-block; padding: 5px 10px; border-bottom: 1px solid #000; border-radius: 5px; margin-right: 10px; }
.content .training.info .chekhov ul li a { text-decoration: none; color: #000; }
.content .training h3 { text-transform: uppercase; padding: 10px 0;  font-size: 1.5em; }

.content .training.info.calendar { padding: 0; margin-bottom: 3em; width: 78.125%; background: none; }
.content .training.info.cal-desc { padding: 0em; }



#training, #about-method, #about-chekhov { padding: 0 90px; }
#training > div { margin-bottom: 2em; }


/*testimonials*/
.content .testimonials.info { float: none; margin: 0 auto; width: 68.687%;}

.alumni .testimonials { margin: 0; }
.testimonials { margin-top: 2.5em; }
.testimonials h2 { margin: 0; }


.testimonials .words h4 { font-size: 1.125em; }


.testimonials .test { 
	position: relative;
	float: left;
	width: 24.20%; 
	margin-right: 1%; 
	margin-bottom: 1%;
	height: auto;
	min-height: 435px;
	box-sizing: border-box;
	overflow: hidden;
}

.testimonials .test:nth-child(4n) { margin-right: 0; }
.testimonials .test img { display: block; margin: 0 auto; border: none; width: 100%; }
.testimonials .test span h5 { margin-top: 0; }
.testimonials .test h5 { margin: 0; margin-top: .5em; bottom: .85em; font-size: 1.125em; letter-spacing: .1em; font-weight: 300; }
.accordian > div .overlay h3 { text-align: center; color: #fff; letter-spacing: .1em; text-transform: lowercase; margin-top: 80px;
    text-transform: uppercase; }

.testimonials .test .text { position: absolute; top: 0; opacity: 0; padding: 15px;  box-sizing: border-box;  width: 100%; }
.testimonials .test .text p { margin: 0; }
.testimonials * { transition: all 500ms;}

.testimonials.main h5 { text-align: center; font-size: 1.3em; font-weight: 700; }
.testimonials.main h5 em{ font-size: .8em; margin-top: 0; }

.test-fix { 
	display: none; 
	height: 60%; 
	width: 60%;
	position: fixed; 
	top: 70%; 
	left: 50%; 
	margin-top: -30%; 
	margin-left: -30%; 
	background: #f1f1f1; 
	z-index: 900; 
	padding: 2em; 
}
.test-cls { display: none;  position: fixed; height: 100%; width: 100%; background: rgba(0,0,0,.5); top: 0; left: 0; z-index: 888; }
div.more-test {  width: 50%; margin: 0 auto; border-radius: 5px; text-align: center; margin-top: 40px; }
div.more-test  { 
	display: block;
	margin-top: 20px;
	color: #000; 
	text-decoration: none; 
	font-family: 'Open Sans Condensed', sans-serif; 
	border: 1px solid #000;
	padding: 10px 20px;
	cursor: pointer;
}
div.more-test:hover { color: #fff; background: #000; }


/*testiomialss*/

.testi { margin-top: 2em; padding: 0em; box-sizing: border-box;  }
.testi:nth-child(odd) { }
.testi .image { width: 18%; float: left; }
.testi .image img { width: 100%; }
.testi .details { float: right; width: 77%; }
.testi .details h2 { text-transform: uppercase; letter-spacing: .075em; margin: 0; }
.testi .details h3 { margin: 0;  font-family: "Oswald",sans-serif; color: #878787; font-weight: 400; }
.testi .details a { }
.testi .bio { }
.testi .bio p { }


/*curriculum*/
.curriculum  {}
.curriculum .class { padding: 20px; /*border-bottom: 1px solid #000;*/ box-sizing: border-box; }
.curriculum .class:nth-child(odd) { background-color: #BEBEBE; }
.curriculum .class:hover {    }
.curriculum .class h3 { margin-bottom: 1.5em; font-size: 1.25em; letter-spacing: .05em; text-transform: uppercase; }
.curriculum .class p { margin-left: 1em; }

.cf:after { content: ""; display: table; clear: both; }



/*location*/

.content .location .med { width: 1000px; margin-bottom: 2em; }
.location p { margin: 0; }
.content .info.mbta { padding: 1.5em; width: 78%; margin: 0; float: left; }
.content .info.mbta h3 { margin: 0; }
.mini_map { width: 20%; float: left; margin-right: 20px; margin-top: 20px;}
.mini_map h6 { margin: 0; }

#mc_embed_signup_scroll h3 { 
	font-family: 'Open Sans Condensed'; 
	font-size: 1.5em;
	letter-spacing: .05em;
	margin: 0 0 10px 0;

}


/*articles*/

.halfs .h { float: left; width: 100%; overflow: hidden; }
.halfs .h:nth-child(odd) { margin-right: 2%; }
.halfs .h:last-child .text { border: none; }
.articles { margin-top: 2em; }
.articles .article {    
    border-radius: 4px;
    margin-bottom: 1%;
    padding: 20px 0px 0 0px;
    box-sizing: border-box;
}
.articles .article .text { 
	margin-top: 10px;
    width: 50%;
    margin: 0 auto;
    text-align: left;
    border-bottom: 1px solid #BBBBBA;
    padding-bottom: 30px; 
}
.articles .article h3 { margin: 0; font-size: 1.25em; margin-bottom: 5px;}
.articles .article h3:hover { color: #EA2727;  }
.articles .article h4 { margin: 0; text-transform: uppercase; letter-spacing: .05em; }
.articles .article p { margin: 0;  margin-bottom: 5px; font-style: italic; }

.studio.info.article h2 { margin-bottom: 0; }
.studio.info.article h3 { margin-top: 0; } 
.studio.info.article h4 { margin-top: 0; }
.articles a.h { text-decoration: none; color: #000; }

/*program*/

.content .info.curriculum { padding-top: 1em; padding-bottom: 1em; }
.content .info.curriculum:nth-child(odd) {  }
.info.curriculum h2 { width: 100%; text-align: left; margin-bottom: .5em; color: #5f5f5f; }
.info.curriculum .wrap { width: 100%; }
.info.curriculum .image { float: right; min-width: 200px; width: 25%; margin-top: 8px; }
.info.curriculum .more.button {    
 	    text-align: center;
	    padding: 8px 0px;
	    border: 1px solid #000;
	    width: 20%;
	    /* margin: 0 auto; */
	    margin-top: 1em;
	    border-radius: 2px;
	    font-size: .85em;
	    clear: both;
}
.info.curriculum .more.button:hover { background: #000; color: #fff; cursor: pointer; }
.info.curriculum .more.button { transition: all 500ms; }

.info.curriculum .image img { width: 100%; }
.info.curriculum .text { padding: 0em; width: 71%; margin-bottom: 1em;  padding-left: 1em; float: left; box-sizing: border-box; }
.info.curriculum .text h3 {     margin: 0; font-family: 'Oswald'; font-weight: 700; font-size: 1.5em; }
.info.curriculum .text ul { margin: 0; font-size: 1.25em; line-height: 1.75em;}
.info.curriculum .text p { margin: 0em; }

.content .info.curriculum .left .image { float: left; }
.content .info.curriculum .left .text { float: right; }

.content .info.curriculum:nth-child(even) .more.cur { background: none; }
.content .more.cur { margin-top: 2em; clear: both; background: none;  height: 0; overflow: hidden;  }
.content .more.cur { transition: all 1500ms; }
.content .more.cur .wrap { width: 77%; margin: 0 auto; padding-bottom: 2em;}
.content .more.cur p { line-height: 2em; margin: 0; }

.info.mani h3 { text-align: center;  }
.info.mani h3 strong {   text-transform: uppercase; background-color: rgba(160, 160, 160, 0.11); display: block; padding: 10px 0; }


/*contact*/

#mc_embed_signup.contact { margin: 0; width: 30%; }

.info.contact .details {      padding-left: 3%; box-sizing: border-box; margin-right: 5%; display: block; float: left; }
.info.contact .details h3 { margin: 0; font-weight: 400; }
.info.contact h2 { margin: 0; margin-bottom: .5em; padding: 0 0 0px 0; color: #000; background: none; 	}
.info.contact .details img { margin-top: 20px; width: 20%; }
.info.contact .details .email img { width: 25%; margin-top: 10%; }

.contact .mc-field-group textarea { width: 100%; resize: none; height: 200px; }
.contact #mce-MMERGE3 { padding: 20px 0; }
.contact #mc_embed_signup h2 { margin-top: 0; }
.contact #mc_embed_signup form { padding-top: 0; }
.contact #mc_embed_signup .button {     padding: 5px; height: auto; }
.contact #mc_embed_signup .mc-field-group select { margin-bottom: 15px;  width: 101%; }
.thirds .t.x { margin-top: 0!important; }

/*footer*/

#footer { padding: 20px 0; background: #E7E7E7; }
#footer .wrap > div { padding: 0!important; margin: 0!important; width: 33%; }
#footer .wrap > div * { margin: 0; }
#footer .wrap { margin: 0 auto;  width: 90%; max-width: 1280px; }
#footer .missions {  
	font-family: 'Open Sans Condensed';
	display: inline-block; 
	width: 400px;
	text-align: left;
	padding: 1em 0 .75em 0;
	font-size: .95em;
	margin: 0; 
}
#footer .missions p { line-height: 1.5em; color: #989898; }
#footer .missions p:first-line { font-size: 1em; }
#footer .info ul { margin: 0; padding: 0; float: right; list-style-type: none; text-align: right; }
#footer .info { display: inline-block; color: #989898; }

#footer .info ul li { font-size: 1em; }
#footer .info ul li a { text-decoration: none; color: #989898; }

#footer .wrap .missions { float: left;  position: relative; width: 50%; }
#footer .wrap .missions img {  float: left; width: 9%; margin-right: 2%; margin-top: 2%;}
#footer .wrap .missions a img {  margin-bottom: 1em;  }
#footer .wrap .missions .text { float: left; margin-left: 5%; width: 51%; }
#footer .wrap .missions .text p { font-size: 1em; }

#footer .wrap .info { float: left; width: 19%; }

nav ul li a, .mission a, ul.subnav li a { transition: all 500ms; }
.mission a { transition: all 350ms; }


.bars { 
	display: none;
	cursor: pointer;
	padding: 5px;
	position: absolute;
	right: 0;
	border-radius: 5px;
	height: 30px; 
	width: 30px; 
	
}
.bars hr { margin: 7px 0; border: 1px solid #000; cursor: pointer; }
.bars.o hr {  border: 1px solid #fff; }

header nav ul.a { display: block; }
header nav ul.o { height: 258px; }

/*MOBILE*/
nav ul { transition: all 550ms; }
@media screen and (max-width: 1000px) { 


}
@media screen and (max-width: 960px) { 
	header { }
	header h1 { font-size: 1.5em; }
	header h2 { font-size: .78em; margin-top: -5px; }
	
	header nav ul {  display:none;  height: 0; position: absolute; top: 22px; }
	header nav ul li {   width: 100%; margin: 0; padding: 7px 0;  background-color: #F1F1F1; }
	header nav ul { width: 100%; } 

	.bars { display: block; }

	
	.featured > div { width: 45%; margin: 20px 0; }
	.featured > div:nth-child(odd) { margin-right: 10%; }

	.mission { padding: 25px; width: 85%; margin-bottom: 20px; }
	.mission p { font-size: 1em; }

	

/*	ul.subnav li { width: 100%; }*/
	ul.subnav li a { border-radius: 0; }

	.content .info {  padding: .5em 0; }
	.content .info .wrap { width: 90%; margin: 0 auto; }

	.content .studio.info article { width: 90%; margin-left: 5%; }

	.thirds .t { width: 45%; margin: 20px 0; }
	.thirds .t:nth-child(odd) { margin-right: 10%; }

	.content .training.glance { padding: 2.5em 1em 2em; width: 90%; margin: 0; margin-left: 5%; margin-bottom: 20px; }
	.content .training.glance:nth-child(even) { margin: 0; margin-left: 5%; margin-bottom: 20px; }

	.content .training.info .chekhov ul { padding: 0; text-align: center; }
	.content .training.info .chekhov ul li { width: 100%; }

	.content .training.info .chekhov ul li { margin: 0; margin-bottom: 10px; }

	.testimonials .words { width: 94.5%; }
	.content .training.info { padding: 1em; }

	
	header .wrap.home ul li a { color: #000; }

	.testimonials .test { 
		width: 49.50%; 
	}
	.testimonials .test:nth-child(even) { margin-right: 0; }

	header .wrap img { top: 6px; }
	.bars { top: 10px; }


	.articles .article { min-height: 200px; height: auto; }

	nav ul {  box-shadow: 1px 3px 6px 0px #000; }
	.content .info.mbta { padding: 1em; }

	.thirds .t.x { float: left; width: 96%; }


}

@media screen and (max-width: 640px) { 

	.featured > div { width: 100%;  margin: 0;   margin-bottom: 20px;  }
	

	.thirds .t { width: 100%;  margin: 0;   margin-bottom: 20px; }

	.halfs .h { width: 100%!important; }

	.slideshow { height: 500px; }
	.slideshow .text { top: 5em; }

	.mission.ex {     padding: 0px 20px; }


	.testimonial_scroll .testimonial { padding: 0; }
	.testimonial_scroll .testimonial .text { width: 100%; }
	.testimonial_scroll { min-height: 350px; height: auto; }
	.testimonial_scroll .testimonial .img { padding-bottom: 1em; }

	#footer .missions .soc { width: 100%; margin-bottom: 1em; }
	#footer .wrap .missions .text {  margin-left: 0; width: 100%; height: auto; }
	
	#footer .wrap .info { width: 100%; }
	#footer .info ul { width: 100%; text-align: left; }


	.faculty .image { width: 100%; }
	.faculty .details { width: 100%; }
	.faculty { padding: 1em; }


	.info.mbta .mini_map { width: 100%; }
	.info.mbta .directions { width: 100%; }

	.testimonials .test { width: 100%; }


	.info.curriculum .image { width: 100%; }
	.info.curriculum .text { width: 100%; padding: 1em 0; }
	.info.curriculum .more.button { width: 100%; }

	#friends a { margin-left: 1em; }

	.blog .buy { position: relative; width: 100%; }

	.blog .posts { width: 100%; padding: 0; }


	#photos .ss .s { top: -50%; left: 00%; width: 100%; }
	#photos .ss .s img { min-height: 0; width: 100%; } 
	#photos .arrows { top: 30%; }


	.slideshow .text h1 {
		font-size: 2em;
	}
	.slideshow .text h2 {     
		font-size: 1.55em;
   		margin-top: -9px;
   	}
   	.slideshow .text h3 {
   		font-size: 14px;
   	}
   	.slideshow .text h4 {
   		font-size: .8em;
   		text-align: left;
   	}

   	.content .more.cur .wrap {
   		width: 100%; 
   	}
   	.testimonial_scroll .med {
   		width: 95%;
   	}

}



