{% extends "base.html" %}
{% block content %}
	<div class="med">
		<div class="accordian">
			<div class="videos" id="videos">
				<div class="height_wrap cf">
					<div class="overlay">
						<h3>Videos</h3>
					</div>
					<div class="thirds">
						{% for v in videos %}
							<div class="t">
								<h2>{{v.title | safe }}</h2>
								{{v.embed | safe }}
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="photos" id="photos">
				<div class="height_wrap cf">
					<div class="overlay">
						<h3>Photos</h3>
					</div>
					<div class="full">
						<div class="ss">
						{% for p in photos %}
							<div class="s">
								<img src="{{p.upload}}" />
							</div>
						{% endfor %}
						</div>
					</div>
					<div class="arrows">
						<div class="arrow left"></div>
						<div class="arrow right"></div>
					</div>
				</div>
			</div>
			<div class="alumni" id="alumni">
				<div class="height_wrap cf">
					<div class="overlay">
						<h3>Alumni</h3>
					</div>
					<div class="testimonials cf">
						{% for a in alumni %}
							<div class="test">
								<img class="headshot" src="{{a.image}}" />
								<div class="text">
									<div class="credits">
										<h5><strong>{{a.name}}</strong></h5>
										{% if a.title %}
											<span><h5>{{a.title}}</h5></span>
										{% endif %}
										<p>{{a.accolades}} </p>
										<div class="more-test">Testimonial</div>
									</div>
								</div>
								<div class="test-fix">
									<p>{{a.testimonial}} </p>
								</div>
								<div class="test-cls"></div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<script>
		function accordian(){var a=document.getElementsByClassName("height_wrap"),b=document.getElementsByClassName("overlay");!function f(a,c){++c<a.length&&(b[c].addEventListener("click",function(){for(j=0;j<a.length;j++)a[j].parentNode.removeAttribute("style"),a[j].children[0].removeAttribute("style");a[c].offsetHeight>200&&(a[c].parentNode.style.height=a[c].offsetHeight+50+"px"),a[c].children[0].style.opacity=0,setTimeout(function(){a[c].children[0].style.display="none"},50)}),f(a,c))}(a,-1),function(){var a=document.getElementsByClassName("ss")[0],b=document.getElementsByClassName("arrow left")[0],c=document.getElementsByClassName("arrow right")[0],d=0;a.children[d].style.display="block",a.children[d].style.opacity=1,b.style.display="none",b.addEventListener("click",function(){var b=this;d>0&&(a.children[d].style.opacity=0,setTimeout(function(){a.children[d].style.display="none"},50),d--,setTimeout(function(){a.children[d].style.display="block",setTimeout(function(){a.children[d].style.opacity=1},100)},50),setTimeout(function(){c.removeAttribute("style")},50),0==d&&(b.style.opacity=0,b.style.display="none"))}),c.addEventListener("click",function(){var c=this;d<a.children.length-1&&(a.children[d].style.opacity=0,setTimeout(function(){a.children[d].style.display="none"},50),d++,setTimeout(function(){a.children[d].style.display="block",setTimeout(function(){a.children[d].style.opacity=1},100)},50),setTimeout(function(){b.removeAttribute("style")},50),d==a.children.length-1&&(c.style.opacity=0,c.style.display="none"))})}();var c=document.getElementsByClassName("text"),d=document.getElementsByClassName("headshot"),e=document.getElementsByClassName("test");!function h(a,b){++b<a.length&&(console.log(),e[b].addEventListener("mouseover",function(){a[b].style.opacity=0,c[b].style.opacity=1}),e[b].addEventListener("mouseout",function(){this.style.padding=0,c[b].style.opacity=0,a[b].style.opacity=1}),h(a,b))}(d,-1)}accordian();
		var text=document.getElementsByClassName("text"),headshot=document.getElementsByClassName("headshot"),test=document.getElementsByClassName("test"),more=document.getElementsByClassName("more-test"),cls=document.getElementsByClassName("test-cls"),tst=document.getElementsByClassName("test-fix");!function a(b,c){++c<b.length&&(test[c].addEventListener("mouseover",function(){b[c].style.opacity=0,text[c].style.opacity=1,more[c].addEventListener("click",function(){cls[c].style.display="block",tst[c].style.display="block"})}),test[c].addEventListener("mouseout",function(){this.style.padding=0,text[c].style.opacity=0,b[c].style.opacity=1}),a(b,c),cls[c].addEventListener("click",function(){cls[c].style.display="none",tst[c].style.display="none"}))}(headshot,-1);	
	</script>	
{% endblock %}













