{% extends "base.html" %}
{% block content %}
	<div class="splash">
		<div class="slideshow">
			<div class="s">
				<img src="{{feat.featured.image}}" />
			</div>
			<div class="med">
				<div id="site-text" class="text" style="top: {{site.top}}em;">
					{{site.splash_title|safe}}
				</div>
			</div>
		</div>
		<div class="blog feat">
			<div class="med">
				<div class="blog cf">
					<div class="thirds">	
						{% for b in billboard %}
							{% if b.text and b.image %}
							 	<div class="t billboard" style="background-color:{{b.background_color}}">
									<div class="text">
										{{b.text | safe }}
									</div>
									<img src="{{b.image }}" />
								</div>
							{% elif b.text %}
								<div class="t billboard" style="background-color:{{b.background_color}}">
									<div class="text">
										{{b.text | safe }}		
									</div>
								</div>
							{% elif b.image %}
								<div class="t billboard" style="background-color:{{b.background_color}}">
									<img src="{{b.image}}" />
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
		<div class="mission ex">
			<div class="med wrap dwn cf">
				<div class="welcome_letter">
					{{ welcome.letter | safe }}
					<a href="/training/admission">Apply</a>
				</div>
				
				<a href="{{feat_post.feat_post.get_absolute_url}}" class="b_wrp t">
					<div class="tag">Blog</div>
					<div class="tag arw">&rarr;</div>
					<div class="image"><img src="{{feat_post.feat_post.main_image}}" width="100%" /></div>

					<div class="text">
						<h2>{{feat_post.feat_post.title | safe }}</h2>
						<h5>{{feat_post.feat_post.date | date:"M d Y"}}</h5>
						<p>{{feat_post.feat_post.body | safe }}</p>
					</div>
					<div class="overlay"></div>
				</a>
			

			</div>
			<div class="overlay">
				<div class="more">
					<h5>show more</h5>
					<div class="arw"></div>
				</div>
			</div>
		</div>
		<div class="video">
			<div class="med">
				{{video.featured.embed | safe }}
			</div>
		</div>
		<a href="/studio/testimonials" class="testimonial_scroll cf">
			<div class="med">
				{% for a in alumni %}
					<div class="testimonial">
						<div class="med">
							<div class="img">
								<img src="{{a.image}}" width="170px" />

							</div>
							<div class="text">
								<p>{{a.testimonial}}</p>
								<h3>{{a.name}}{% if a.title %} - {{a.title}}{% endif %}</h3>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</a>
		<div class="sliding-newsletter">
			<div class="close-snl">close</div>
			<div id="mc_embed_signup">
				<form action="//michaelchekhovactorsstudioboston.us2.list-manage.com/subscribe/post?u=25d675ce885424d78b0e34fc0&amp;id=fa58151528" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
				    <div id="mc_embed_signup_scroll">
					<h2>Join our mailing list</h2>
					<div class="mc-field-group">
						<label for="mce-EMAIL">Email <ADDRESS></ADDRESS></label>
						<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
					</div>
					<div class="mc-field-group">
						<label for="mce-MMERGE1">Name </label>
						<input type="text" value="" name="MMERGE1" class="" id="mce-MMERGE1">
					</div>
					<div class="mc-field-group">
						<label for="mce-MMERGE3">How did you hear about us? </label>
						<select name="MMERGE3" class="" id="mce-MMERGE3">
							<option value=""></option>
							<option value="Google">Google</option>
							<option value="Stagesource">Stagesource</option>
							<option value="Word of Mouth">Word of Mouth</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<div id="mce-responses" class="clear">
						<div class="response" id="mce-error-response" style="display:none"></div>
						<div class="response" id="mce-success-response" style="display:none"></div>
					</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_25d675ce885424d78b0e34fc0_fa58151528" tabindex="-1" value=""></div>
				    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
				    </div>
				</form>
			</div>
		</div>
	</div>
	<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='MMERGE1';ftypes[1]='text';fnames[3]='MMERGE3';ftypes[3]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);
	</script>
	<script>
		!function(){var a=document.getElementsByClassName("mission ex")[0],b=document.getElementsByClassName("more")[0].children[0],c=document.getElementsByClassName("more")[0].children[1],d=document.getElementsByClassName("med wrap dwn")[0],e=!1;a.style.height="500px",a.addEventListener("click",function(){e?(a.style.height="500px",b.innerHTML="show more",c.removeAttribute("style"),e=!1):(a.style.height=d.offsetHeight+200+"px",b.innerHTML="show less",c.style.borderWidth="0 10px 10px 10px",c.style.borderColor="transparent transparent #2e2e2e transparent",e=!0)})}(),function(){function h(a,b){setTimeout(function(){i(a,b)},5e3)}function i(a,c){null===c?(a.style.opacity=0,setTimeout(function(){a.style.display="none",setTimeout(function(){b[0].style.display="block",setTimeout(function(){b[0].style.opacity=1,a=b[0],c=a.nextElementSibling,h(a,c)},100)},100)},1e3)):(a.style.opacity=0,setTimeout(function(){a.style.display="none",setTimeout(function(){c.style.display="block",setTimeout(function(){c.style.opacity=1,a=c,c=a.nextElementSibling,h(a,c)},100)},100)},1e3))}for(var g,a=document.getElementsByClassName("testimonial_scroll")[0].children[0],b=a.children,c=b.length,d=Math.floor(Math.random()*c+0),e=b[d],f=e.nextElementSibling,g=0;c>g;g++)b[g].style.display="none",b[g].style.opacity=0;e.style.display="block",setTimeout(function(){e.style.opacity=1},500),h(e,f)}(),function(){var a=!0,b=0,c=!0,d=document.getElementsByClassName("sliding-newsletter")[0],e=document.getElementsByClassName("close-snl")[0];window.innerWidth<=500&&(c=!1),window.addEventListener("resize",function(){window.innerWidth<=500&&(c=!1)}),window.addEventListener("scroll",function(){1==(document.body.scrollTop+window.innerHeight)/document.body.offsetHeight&&a===!0&&c===!0&&(d.style.right=0,a=!1,b++),a===!1&&(document.body.scrollTop+window.innerHeight)/document.body.offsetHeight<=.7&&c===!0&&(d.style.right="-400px",a=2>b?!0:!1)}),e.addEventListener("click",function(){d.style.right="-400px"})}();
		!function(){window.innerWidth<=640&&(document.getElementById("site-text").style.top="{{site.mobile_top}}" + 'em'),window.addEventListener("resize",function(){window.innerWidth<=640&&(document.getElementById("site-text").style.top="{{site.mobile_top}}" + 'em')})}();
	</script>
{% endblock %}



